@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&family=Mochiy+Pop+P+One&display=swap');

.jumbotron {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://dylzm7u8zqclv.cloudfront.net/2019/03/25/02/20/39/d8aafbab-3778-4bc5-b2cc-9b33fa9e2a4d/ham-cucumber-recipe.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: 'Sigmar One', cursive;
    color: rgb(196, 171, 148);
}

.btn-primary{
    background-color: #ad9836;
    border-style: none;
}

.body-text{
    font-family: 'Mochiy Pop P One', sans-serif;
}

.list-group-item{
    background-color:#c4a41f
}

.card {
    background-color:#c4a41f;
    max-width:256px;
}

.card-img {
    max-width:256px;
    max-height: 256px;
}

.d-flex {
    justify-content: space-between;
}

.menu-img{
    max-width: 56px;
    max-height: 56px;
}

div {
    text-align: center;
    font-size: large;
}

.form-img {
        width: 300px;
        border-width: 5px;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-color: rgb(0, 0, 0);
        display: block;
        border-radius: 50px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
button {
        display: inline-block;
        padding: 5px 20px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #53565a;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        margin-top: 40px;
      }

button:hover {
    background-color: #000000
}
      
button:active {
        background-color: #000000;
        box-shadow: 0 5px rgb(43, 44, 44);
        transform: translateY(4px);
      }

input {
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        margin-top: 50px;
        margin-bottom: 10px;
        border-radius: 50px;
      }